<div class="popover bottom">
  <div class="arrow"></div>
  <div class="popover-title">
    <span translate>position</span>
    <button type="button" class="ga-icon ga-btn fa fa-remove" title="{{titleClose}}" ng-click="hidePopover()"></button>
  </div>
  <div class="popover-content">
      <table>
          <tbody>
          <tr>
              <!-- INGRID: Change 'CH1903 / LV03' to 'Mercator'  --> 
              <td>Mercator</td>
              <!-- INGRID: Change 'coord21781' to 'coordDefault'  --> 
              <td>{{coordDefault}}</td>
          </tr>
          <!-- INGRID: Remove 
          <tr>
              <td>CH1903+ / LV95</td>
              <td>{{coord2056}}</td>
          </tr>
          -->
          <tr>
              <td>WGS 84 (Breite/Länge)</td>
              <td>{{coord4326}}</td>
          </tr>
          <!-- INGRID: Remove
          <tr>
              <td></td>
              <td>{{coordiso4326}}</td>
          </tr>
          <tr>
              <td>UTM</td>
              <td>{{coordutm}}</td>
          </tr>
          <tr>
              <td>MGRS</td>
              <td>{{coordmgrs}}</td>
          </tr>
          -->
          <!-- INGRID: Add coordinates -->
          <tr>
              <td>GK2</td>
              <td>{{coord31466}}</td>
          </tr>
          <tr>
              <td>GK3</td>
              <td>{{coord31467}}</td>
          </tr>
          <tr>
              <td>GK4</td>
              <td>{{coord31468}}</td>
          </tr>
          <tr>
              <td>GK5</td>
              <td>{{coord31469}}</td>
          </tr>
          <tr>
              <td>UTM 32N (East/North)</td>
              <td>{{coord25832}}</td>
          </tr>
          <tr>
              <td>UTM 33N (East/North)</td>
              <td>{{coord25833}}</td>
          </tr>
          <!-- INGRID: Remove 
          <tr ng-if="altitude">
              <td translate>elevation</td>
              <td>{{altitude | measure:'distance':[' m']:1}}</td>
          </tr>
          <tr>
              <td></td>
              <td><a href="{{crosshairPermalink}}" target="_blank" translate>link_bowl_crosshair</a></td>
          </tr>
          -->
          <tr ng-if="showQR()">
            <td align="center" colspan="2">
              <img draggable="false" ng-src="{{qrcodeUrl}}" class="ga-qrcode">
            </td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
