<!--The content below is only a placeholder and can be replaced.-->
<ng-progress [showSpinner]="false"></ng-progress>
<div id="header" class="navbar navbar-fixed-top">
  <div class="title" translate>app_title</div>
  <div class="form-inline">
    <app-translation></app-translation>
    <a *ngIf="production" href="/ingrid-webmap-client/admin/assets/logout/logout.jsp" title="Logout">
      <button class="btn btn-outline mr-sm-2" type="button">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </button>
    </a>
    <a target="_new" href="https://www.ingrid-oss.eu/latest/components/webmap_client_admin.html#admin-gui">
      <button class="btn btn-outline mr-sm-2" type="button">
        <i class="fa fa-question" aria-hidden="true"></i>
      </button>
    </a>
    <span style="display:none">{{ version }}</span>
  </div>
</div>
<div id="accordion">
  <!-- Layer -->
  <app-layer [categories]="categories" [layers]="layers" (updateAppLayers)="updateAppLayers($event)" (updateAppCategories)="updateAppCategories($event)"></app-layer>
  <!-- Category -->
  <app-category [categories]="categories" [layers]="layers" (updateAppCategories)="updateAppCategories($event)"></app-category>
  <!-- Setting -->
  <app-setting [categories]="categories" [settings]="settings" (updateAppSettings)="updateAppSettings($event)"></app-setting>
  <!-- Help -->
  <app-help [settings]="settings"></app-help>
  <!-- CSS -->
  <app-css></app-css>
  <!-- Localisation -->
  <app-localisation [settings]="settings"></app-localisation>
</div>
<router-outlet></router-outlet>
