/* CATEGORY IMAGES*/
[ga-topic] .ga-topics-sprite-themen {
  background: url("/ingrid-webmap-client/frontend/prd/img/themen.png");
  width: 140px;
}

[ga-topic] .ga-topics-sprite-anbieter {
  background: url("/ingrid-webmap-client/frontend/prd/img/anbieter.png");
  width: 140px;
}

/* BACKGROUND IMAGES*/
@media (max-width: 768px) {
  [ga-background-selector] .ga-osmLayer {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-osmLayer.png");
    background-size: 38px 38px;
  }
  [ga-background-selector] .ga-webatlasde_light {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-light.png");
    background-size: 38px 38px;
  }
  [ga-background-selector] .ga-webatlasde_grau {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-light-grau.png");
    background-size: 38px 38px;
  }
}
@media (min-width: 769px) {
  [ga-background-selector] .ga-osmLayer {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-osmLayer.png");
    background-size: 90px 58px;
  }
  [ga-background-selector] .ga-webatlasde_light {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-light.png");
    background-size: 90px 58px;
  }
  [ga-background-selector] .ga-webatlasde_grau {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-light-grau.png");
    background-size: 90px 58px;
  }
}

/* BACKGROUND POSITIONS*/
[ga-background-selector] .ga-bg-layer-4 {
  z-index: 1001;
}
[ga-background-selector] .ga-bg-layer-5 {
  z-index: 1000;
}

@media (max-width: 768px) {
  [ga-background-selector].ga-open .ga-bg-layer-4 {
    -webkit-transform: translate3d(0, -245px, 0);
            transform: translate3d(0, -245px, 0);
    -ms-transform: translateY(-245px);
  }
  [ga-background-selector].ga-open .ga-bg-layer-5 {
    -webkit-transform: translate3d(0, -294px, 0);
            transform: translate3d(0, -294px, 0);
    -ms-transform: translateY(-294px);
  }
}
@media (min-width: 769px) {
  [ga-background-selector].ga-open .ga-bg-layer-4 {
    -webkit-transform: translate3d(-429px, 0, 0);
            transform: translate3d(-429px, 0, 0);
    -ms-transform: translateX(-429px);
    /* IE 9*/
  }
  [ga-background-selector].ga-open .ga-bg-layer-5 {
    -webkit-transform: translate3d(-530px, 0, 0);
            transform: translate3d(-530px, 0, 0);
    -ms-transform: translateX(-530px);
    /* IE 9*/
  }
}

@media (max-width: 480px) {
  #pulldown .panel-body {
    max-height: 95px;
  }
}

.ga-full-screen.ga-full-screen-no-inputs #search-container,
.ga-full-screen #logo,
.ga-full-screen #toptools,
.ga-full-screen #pulldown,
.ga-full-screen #footer {
  display: block;
}

[ga-wms-get-cap] textarea[readonly], [ga-wmts-get-cap] textarea[readonly] {
  height: 163px;
}

[ga-popup].popup-front {
  z-index: 5600;
}

.theme-toggle input.topic-modal-toggle {
  margin-top: 0;
}

#import-popup .popover-content {
  max-height: 500px;
}

#import-popup button {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

[ga-popup] {
  max-height: 525px;
}

[ga-popup] .ga-checkbox {
  border: 1px solid #dddddd;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  font-weight: bold !important;
}

@media (max-width: 768px), (max-height: 600px) {
  .theme-toggle input.topic-modal-toggle {
    width: 24px;
  }
}

#pulldown-content .panel > .accordion-toggle.collapsed {
  background-color: #474949;
}

#pulldown-content .panel > .accordion-toggle:hover, #pulldown-content .panel > .accordion-toggle:active {
  text-decoration: none;
  color: #666;
  background: #fff;
}

[ga-catalogtree] .ga-catalogitem-template .ga-catalogitem-selected,
[ga-catalogtree] .ga-catalogitem-template .ga-catalogitem-selected:hover,
[ga-catalogtree] .ga-catalogitem-template .ga-catalogitem-selected button {
  color: #a00e19;
}

.ga-draw-measure-static::after {
  border-top: 6px solid #474949;
}

.ga-draw-help, .ga-draw-measure, .ga-draw-measure-static {
  background-color: #474949;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color:#474949;
}

.tooltip-inner {
  background-color: #474949;
}

[ga-help] {
  opacity: 0.8;
}

[ga-popup] .ga-buttons button {
  opacity: 0.8 !important;
}

.modal-header button {
  opacity: 0.8 !important;
}

:focus-visible {
  outline: 2px solid #a00e19 !important;
  outline-offset: -2px !important;
}

body:not(.webkit) .ga-checkbox input[type="checkbox"]:focus + span {
  box-shadow: none;
}

body:not(.webkit) .ga-checkbox input[type="checkbox"]:focus-visible + span {
  outline: 2px solid #a00e19 !important;
}

button.ga-btn:not([disabled]):focus-visible {
  outline-offset: -2px !important;
}

.ga-catalogitem-node {
  padding: 2px 0;
}

.ga-bg-layer, #pulldown-content .panel{
  display: none;
}

.ga-open .ga-bg-layer, .ga-pulldown-shown #pulldown-content .panel {
  display: block;
}
