[ga-topic] .ga-topics-sprite-themen {
  background: url("/ingrid-webmap-client/frontend/prd/img/themen.png");
  width: 140px;
}

[ga-topic] .ga-topics-sprite-anbieter {
  background: url("/ingrid-webmap-client/frontend/prd/img/anbieter.png");
  width: 140px;
}

@media (max-width: 768px) {
  [ga-background-selector] .ga-osmLayer {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-osmLayer.png");
    background-size: 38px 38px;
  }
  [ga-background-selector] .ga-webatlasde_light {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-light.png");
    background-size: 38px 38px;
  }
  [ga-background-selector] .ga-webatlasde_grau {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-light-grau.png");
    background-size: 38px 38px;
  }
}
@media (min-width: 769px) {
  [ga-background-selector] .ga-osmLayer {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-osmLayer.png");
    background-size: 90px 58px;
  }
  [ga-background-selector] .ga-webatlasde_light {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-light.png");
    background-size: 90px 58px;
  }
  [ga-background-selector] .ga-webatlasde_grau {
    background-image: url("/ingrid-webmap-client/frontend/prd/img/ga-light-grau.png");
    background-size: 90px 58px;
  }
}