[ga-map] .ol-zoom-in,
[ga-map] .ol-zoom-out,
[ga-map] .ol-zoom-extent button {
  display: block;
  /*without this, chrome add 3 pixels between zoomin/out buttons*/
}
[ga-map] .ol-zoom-extent {
  background-image: url("../components/map/style/zoomExtent.png");
}

#logo.ga-logo-de {
  background-image: url("../img/ingrid_logo_icn_big.png");
}

#logo.ga-logo-fr {
  background-image: url("../img/ingrid_logo_icn_big.png");
}

#logo.ga-logo-it {
  background-image: url("../img/ingrid_logo_icn_big.png");
}

#logo.ga-logo-rm {
  background-image: url("../img/ingrid_logo_icn_big.png");
}

#logo.ga-logo-en {
  background-image: url("../img/ingrid_logo_icn_big.png");
}

@media (max-width: 768px), (max-height: 600px) {
  #logo[class^="ga-logo-"],
  #logo[class*=" ga-logo-"] {
    width: 44px;
    background-image: url("../img/ingrid_logo_icn.png");
    background-position: center;
  }
}

.ga-osmLayer {
	background-image: url("../img/bg/ga-osmLayer.png") !important;
}

.ga-sg_geodatenzentrum_de_wms_webatlasde_light_webatlasde_light {
	background-image: url("../img/bg/ga-light.png") !important;
}

.icon-user {
	display: none !important;
}