<!DOCTYPE html>
<html ng-app="geoadmin" ng-controller="GaMainController"
itemscope itemtype="http://schema.org/WebApplication"
>
  <head>
    <!--![if !HTML5]>
    <meta http-equiv="X-UA-Compatible" content="IE=9,IE=10,IE=edge,chrome=1"/>
    <![endif]-->
    <!-- INGRID: Change title --> 
    <title translate="page_title">InGrid Map Client</title>
    <meta charset="utf-8"/>
    <!-- verification for google webmaster tools -->
    <meta name="google-site-verification" content="ZAmW5d4_2X8xb5Yy_nYQbnTSe1EIeSqyhox9aXXwrws"/>
    <!-- verification for bing webmaster tools -->
    <meta name="msvalidate.01" content="58E0E0B7DD4AB3D30EE315C695950E68"/>
    <!-- verification for yandex webmaster tools -->
    <meta name='yandex-verification' content='4795f82c05657028'/>
    <!-- this tag enables the search bot forwarding to _escaped_fragment_= urls for SEO. It can be used instead of the ugly hasbang -->
    <meta name="fragment" content="!"/>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="application-name" content="map.geo.admin.ch"/>
    <meta name="msapplication-TileImage" content="img/touch-icon-bund-144x144.png"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-square70x70logo" content="img/touch-icon-bund-70x70.png"/>
    <meta name="msapplication-square150x150logo" content="img/touch-icon-bund-150x150.png"/>
    <meta name="msapplication-square310x310logo" content="img/touch-icon-bund-310x310.png"/>
    <link rel="dns-prefetch" href="//mf-chsdi3.dev.bgdi.ch"/>

    <link rel="apple-touch-icon" sizes="76x76" href="img/touch-icon-bund-76x76.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="img/touch-icon-bund-120x120.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="img/touch-icon-bund-152x152.png"/>

    <!-- Description is translated 'by hand' in the MainController -->
    <meta name="description" content="geo.admin.ch ist die Geoinformationsplattform der Schweizerischen Eidgenossenschaft. // geo.admin.ch est la plateforme de géoinformation de la Confédération suisse."/>
    <meta name="keywords" content="maps Switzerland, map viewer, Confederation, geodata, public platform, geographical information, geoportal, orthophotos, geolocation, geoinformation, Geodaten, Geoinformation, Bund, Plattform, Karte, Kartendienst, Kartenviewer"/>
    <meta name="news_keywords" content="Maps of Switzerland"/>

    <!-- Open Graph metas SMO -->
    <meta property="og:site_name" content="geo.admin.ch"/>
    <meta property="og:title" content="Swiss Geoportal"/>
    <meta property="og:description" content="geo.admin.ch ist die Geoinformationsplattform der Schweizerischen Eidgenossenschaft. // geo.admin.ch est la plateforme de géoinformation de la Confédération suisse."/>
    <meta property="og:type" content="WebApplication"/>
    <meta property="og:url" content="https://map.geo.admin.ch"/>
    <!-- INGRID: Change icon --> 
    <meta property="og:image" content="ingrid/img/ingrid_logo_icn.png"/>

    <!-- Twitter Card Infos -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@swiss_geoportal"/>
    <meta name="twitter:creator" content="@swiss_geoportal"/>
    <meta name="twitter:title" content="geo.admin.ch"/>
    <meta name="twitter:description" content="geo.admin.ch ist die Geoinformationsplattform der Schweizerischen Eidgenossenschaft. // geo.admin.ch est la plateforme de géoinformation de la Confédération suisse."/>
    <!-- INGRID: Change icon --> 
    <meta name="twitter:image" content="ingrid/img/ingrid_logo_icn.png"/>
    <meta name="twitter:url" content="https://map.geo.admin.ch"/>

    <!-- Facebook Specific fb:admins and fb.appid -->

    <!-- Google+ Specific Tags -->
    <meta itemprop="name" content="geo.admin.ch"/>
    <meta itemprop="description" content="geo.admin.ch ist die Geoinformationsplattform der Schweizerischen Eidgenossenschaft. // geo.admin.ch est la plateforme de géoinformation de la Confédération suisse."/>
    <!-- INGRID: Change icon --> 
    <meta itemprop="image" content="ingrid/img/ingrid_logo_icn.png"/>

    <script>
      (function(){
        var w = window, l = w.location, n = w.navigator, pathname, p = 'mobile',
          m = l.search.match(/(?:mobile=(true|false))/);

        if (!l.origin) { l.origin = l.protocol + "//" + l.hostname } // IE fix

        // avoid loops
        m = (m) ? m[1] : m;
        if ((p=='desktop' && m=='false') || (p=='mobile' && m=='true')) {
          return;
        }

        var redirectToMobile = function() {
          pathname = !/(index|embed)\.ingrid.dev.html$/.test(l.pathname) ?
            l.pathname + 'mobile.ingrid.dev.html' : l.pathname.replace(/(index|embed)\.ingrid.dev.html$/, 'mobile.ingrid.dev.html');
          l.href = l.origin + pathname + l.search;
        }
        var redirectToDesktop = function() {
          l.href = l.origin + l.pathname.replace(/(mobile|embed)\.ingrid.dev.html$/, 'index.ingrid.dev.html') + l.search;
        }

        var onMobile = ((('ontouchstart' in w) ||
            (('maxTouchPoints' in n) && n.maxTouchPoints > 1) ||
            (('msMaxTouchPoints' in n) && n.msMaxTouchPoints > 1)) &&
            (screen.width<=768 || screen.height<=768));
        if (m=='false' || (!onMobile && p=='mobile') ) {
          redirectToDesktop();
        } else if (m=='true' || (onMobile && p=='desktop') ) {
          // INGRID: Disabled mobile version
          // redirectToMobile();
        }
      })();
    </script>
    <link href="style/app.css" rel="stylesheet"/>
    <!-- INGRID: Add ingrid style --> 
    <link href="ingrid/style/app.ingrid.css" rel="stylesheet"/>
    <!-- INGRID: Change icon --> 
    <link rel="shortcut icon" type="image/x-icon" href="ingrid/img/ingrid_logo_icn.png"/>
  </head>

  <body class="{{topicId}}" 
        ng-class="{
          'search-focused': globals.searchFocused,
          'touch': globals.touch, 
          'webkit': globals.webkit, 
          'no-webkit': !globals.webkit, 
          'offline': globals.offline,
          'online': !globals.offline,
          'embed': globals.embed,
          'ga-draw-active': globals.isDrawActive,
          'ga-3d-active': globals.is3dActive
        }">
    <!-- The below conditional is ignored by >= IE10 and all other browsers -->
    <!--![if IE]>
      <script>
       (function(){
       var msgDocumentMode = "";
       var msgCompatibilityView = "";
       if (document.documentMode < 9) {
          msgDocumentMode = "DE: Dokumentmodus von Internet Explorer muss 9 oder gr\366sser sein.\nFR: Le mode de document d'Internet Explorer doit \352tre plus grand ou \351gal \340 9.\nIT: Modalit\340 documento dev'essere maggiore o uguale a 9.\nEN: The document mode of your navigator should be 9 or higher.\n\n";
       }
       if (navigator.userAgent.indexOf("MSIE 7.0") > 0 || navigator.userAgent.indexOf("MSIE 8.0") > 0) {
          msgCompatibilityView = "DE: Sie verwenden einen veralteten Browser. Um die Website in vollem Umfang nutzen zu k\366nnnen, empfehlen wir Ihnen in diesem Falle, einen neueren Browser zu installieren: www.browsehappy.com/?locale=de\nFR: Vous utilisez un navigateur trop ancien. Pour utiliser toute les possibilit\351s de ce site web, nous vous conseillons d'installer un navigateur plus r\351cent: www.browsehappy.com/?locale=fr\nIT:Si sta utilizzando un browser non completamente supportato. Per sfruttare appieno le funzionalit\340 di questo sito web, consigliamo di installare un browser pi\371 recente: www.browsehappy.com/?locale=it\nEN: You are using an outdated browser. Please upgrade in this case your browser to improve your experience: browsehappy.com/?locale=en\n\n";
       }
       if (msgDocumentMode.length > 0 || msgCompatibilityView.length > 0) {
         alert(msgDocumentMode + msgCompatibilityView + "DE: \334ber die 'F12' Taste k\366nnen Sie die Einstellungen auf 'Browsermodus:IE9' und 'Dokumentmodus:IE-9-Standards' setzen.\nFR: En appuyant sur F12, vous pouvez modifier l'affichage de compatibilit\351 en choisissant le mode navigateur IE9 et le mode de document normes IE9.\nIT: Premere F12 per modificare la Modalit\340 browser scegliendo poi 'Modalit\340 browser IE9' e 'Modalit\340 documento: IE9'.\nEN: Click on F12 and change the compatibility view mode and the document mode to 'Browser Mode:IE9' and 'Document Mode: IE9 standards'.");
       }
       })();
      </script>
      <script src="lib/IE9Fixes.js"></script>
      <script>
        IE9Fix.call(this);
      </script>
    <![endif]-->
	<!-- INGRID: Remove icon
    <div ng-cloak class="corner-ribbon 
    top-left    
    sticky red shadow" ng-show="globals.is3dActive">
      2.5D - ALPHA
    </div>
    -->
    <div ng-controller="GaSeoController">
      <div ga-seo ga-seo-options="options" ga-seo-map="map"></div>
    </div>
    <div ng-cloak translate-cloak id="header" class="navbar navbar-fixed-top">
      <button class="btn btn-default ga-menu-bt" ng-click="globals.pulldownShown=true" translate>menu</button>
      <div id="search-container" ng-controller="GaSearchController">
        <div ga-search ga-search-map="map" ga-search-options="options" ga-search-focused="globals.searchFocused" ga-search-ol3d="::ol3d"></div>
      </div>
      <!-- <div class="alert alert-danger" translate>offline_sorry</div>  -->
    </div> <!-- #header -->

    <div id="drawModeHeader" class="navbar navbar-fixed-top">
      <div class="ga-centered ga-title" translate>draw_mode_title</div>
      <button class="btn btn-primary pull-left" ng-click="globals.isDrawActive = false">
        <i class="icon-arrow-left"></i>
        <span translate>draw_back</span>
      </button>
      <span ga-help="66"></span>

    </div><!-- #drawModeHeader -->

    <div id="loader"></div>
    <div tabindex="1" ga-map ga-map-map="map" ga-map-ol3d="::ol3d">
      <div ng-cloak translate-cloak
           ga-attribution
           ga-attribution-map="::map"
           ga-attribution-ol3d="::ol3d">
      </div>

      <div id='buttonGroup' ng-cloak translate-cloak>
        <div ga-geolocation ga-geolocation-map="::map" ga-geolocation-ol3d="::ol3d"></div>
        <div id="zoomButtons"></div>
        <!-- INGRID: Add zoom to extent button -->
        <div id="zoomToExtentButton"></div>
        <div ga-tilt3d ng-if="globals.dev3d"></div>
        <div ga-time-selector-bt ga-time-selector-bt-map="map"></div> 
        <div ga-rotate ga-rotate-map="map"></div>
        <div ga-offline-bt></div>
      </div>
      <div ga-swipe 
           ga-swipe-map="map" 
           ga-swipe-active="globals.isSwipeActive"
           style="display:none;">
      </div>
    </div> <!-- #map -->
    <div ga-offline-selector
         ga-offline-selector-map="map">
    </div>

    <div ga-controls3d ga-controls3d-ol3d="::ol3d" ng-if="ol3d" ng-show="globals.is3dActive" ga-controls3d-pegman="globals.pegman"></div>

    <div ng-cloak translate-cloak
         ga-background-selector
         ga-background-selector-map="map"
         ga-background-selector-ol3d="::ol3d"
         ng-hide="globals.offline">
    </div>
    <div ga-attribution-warning
         ga-attribution-warning-ol3d="::ol3d">
      <span translate>3d_overlay_warning</span>
    </div>
    <div ng-cloak translate-cloak id="footer" class="navbar navbar-fixed-bottom">
      <div  class="pull-left" ga-scale-line ga-scale-line-map="map" ng-show="!globals.is3dActive"></div>

     <div class="pull-right">
        <a target="_blank" href="http://www.geo.admin.ch/internet/geoportal/{{langId}}/home/geoadmin/contact.html#copyright" translate>copyright_label</a>
      </div>
    </div><!-- #footer -->

    <div ng-controller="GaContextPopupController">
      <div ga-context-popup ga-context-popup-map="map" ga-context-popup-options="options" ga-context-popup-is3d="globals.is3dActive"></div>
    </div>

    <div ga-timestamp-control ga-timestamp-control-map="map"></div>

    <div ng-controller="GaTimeSelectorController">
      <div ga-time-selector
           ga-time-selector-map="::map"
           ga-time-selector-ol3d="::ol3d"
           ga-time-selector-options="options">
      </div>
    </div>

    <div ng-controller="GaTooltipController">
      <div ga-tooltip 
           ga-tooltip-map="::map"
           ga-tooltip-ol3d="::ol3d" 
           ga-tooltip-options="options"
           ga-tooltip-active="!globals.isDrawActive"></div>
    </div>

    <div  id="pulldown" ng-cloak translate-cloak ng-show="!globals.offline"
          ng-class="{
            'selection-and-catalog-shown': (globals.catalogShown && globals.selectionShown),
            'ga-pulldown-shown': globals.pulldownShown
          }">
      <div class="ga-visible-mobile ga-pulldown-shadow" ng-click="globals.pulldownShown = false"></div>
      <div id="pulldown-content" class="content">
        <!-- Share -->
        <div class="panel">
          <a id="shareHeading" class="panel-heading accordion-toggle collapsed"
             data-toggle="collapse" data-parent="#pulldown-content" href="#share"
             ga-collapsible-show="globals.isShareActive">
            <i class="icon-caret-down"></i>
            <span translate>share</span>
          </a>
          <div id="share" class="panel-collapse collapse">
            <div class="panel-body" ng-controller="GaShareController">
              <div ga-share ga-share-options="options" ga-share-active="globals.isShareActive"></div>
            </div>
          </div>
        </div> <!-- .panel -->


        <!-- Catalog -->
        <div class="panel" ng-hide="globals.isDrawActive">
          <a id="catalogHeading" class="panel-heading accordion-toggle light collapsed"
             data-toggle="collapse" href="#catalog"
             ga-collapsible-show="globals.catalogShown">
            <i class="icon-caret-down"></i>
            <span>{{topicId | translate}}</span>
  

          </a>
          <div id="catalog" class="collapse" ng-controller="GaCatalogtreeController">
  
            <label class="topic-container">
              <span translate>change_topic</span>
              <div ga-topic ga-topic-ui="select"></div>
            </label>
            <div class="panel-body panel-body-wide accordion-inner-catalog" ng-if="!globals.offline" ga-catalogtree ga-catalogtree-map="map" ga-catalogtree-options="options">
            </div>
          </div>
        </div> <!-- .panel -->

        <!-- Selection -->
        <div class="panel" ng-hide="globals.isDrawActive">
          <a id="selectionHeading" class="panel-heading accordion-toggle light collapsed"
             data-toggle="collapse" href="#selection"
             ga-collapsible-show="globals.selectionShown">
            <i class="icon-caret-down"></i>
            <span translate>layers_displayed</span>

          </a>
          <div id="selection" class="collapse">
            <div class="panel-body panel-body-wide" ga-layermanager ga-layermanager-map="map">
            </div>
            <div class="ga-more-layers"
                 ng-click="globals.pulldownShown = !globals.phone"
            >
              <a href="" ga-help-highlight=".ga-search-input-container input" translate>
                help_search_data_link
              </a>
            </div>
          </div>
        </div> <!-- .panel -->

        <div class="panel">
          <a class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#pulldown-content" href="#settings">
            <i class="icon-caret-down"></i>
            <span translate>settings</span>
          </a>
          <div id="settings" class="collapse">
            <div class="panel-body">
              <p>
                <a href="" ng-click="globals.feedbackPopupShown = !globals.feedbackPopupShown">
                  <span ng-class="{'selected': globals.feedbackPopupShown}" translate>problem_announcement</span>
                </a>
              </p>
              <p>
                <a href="{{deviceSwitcherHref}}" translate>desktop_redirect</a>
              </p>
              <div class="options">
                <label ng-controller="GaTranslationController">
                  <span translate>lang_chooser_label</span>
                  <div ga-translation-selector ga-translation-selector-options="options"></div>
                </label>
              </div>
              <hr>
              <p>
                <a target="_blank" translate translate-attr-href="{{topicId + '_service_link_href'}}" >{{topicId + '_service_link_label'}}</a>
                <br>
                <a target="_blank" href="http://www.geo.admin.ch/internet/geoportal/{{langId}}/home/geoadmin/contact.html#copyright" translate>copyright_label</a>
              </p>
            </div>
          </div>
        </div> <!-- .panel -->
        <button id="menu-button" class="btn btn-default"
                ng-click="globals.pulldownShown=!globals.pulldownShown">
          <span class="ga-hidden-mobile"> 
            <i class="icon-caret-down"></i>
            <span class="ga-hidden-collapsed" translate>close_menu</span>
            <span class="ga-visible-collapsed" translate>open_menu</span>
          </span>
          <span class="ga-visible-mobile" translate>close</span>
        </button>
      </div> <!-- #pulldown-content -->
    </div> <!-- #pulldown -->

    <!-- offline dialog -->
    <div ng-cloak translate-cloak ga-offline-menu ga-offline-menu-map="map"></div>
    <!-- Popup: Feedback -->
    <div ga-popup="globals.feedbackPopupShown"
         ga-popup-options="{title:'problem_announcement', help:'70'}"
         ga-draggable=".popover-title"
         id="feedback-popup" >
      <div ng-controller="GaFeedbackController">
        <div ga-feedback
             ga-feedback-map="map"
             ga-feedback-options="options"
             ga-feedback-active="globals.feedbackPopupShown">
        </div>
      </div>
    </div> <!-- end Feedback -->

    <!-- Popup: Feature Tree -->
    <div ng-controller="GaFeaturetreeController">
      <div ga-popup="globals.isFeatureTreeActive"
           ga-popup-options="{title:'object_information', showPrint:true, print: print, help:'68'}"
           ga-draggable=".popover-title"
           id="featuretree-popup">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#accordion-query">
              <span translate>queries</span>
            </a>
            <div id="accordion-query" class="panel-collapse collapse in">
              <div class="panel-body"
                   ga-query
                   ga-query-map="map"
                   ga-query-options="options"
                   ga-query-active="globals.isFeatureTreeActive">
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <a class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#accordion-tree"
               ga-collapsible-show="options.featuresShown" ng-class="{'ga-query-more-results': options.hasMoreResults}">
              <span translate>items</span> {{getItemText()}}
              <div ng-show='printInProgress' class='pull-right'>{{printProgressPercentage}}%</div>
            </a>
            <div id="accordion-tree"
                 class="panel-collapse collapse">
              <div ng-show="options.nbFeatures == 0" class="panel-body">
                <div class="ga-no-result" translate>no_feature_results</div>
              </div>
              <div ng-show="options.nbFeatures > 0"
                   ga-featuretree 
                   ga-featuretree-map="map"
                   ga-featuretree-options="options" 
                   ga-featuretree-active="globals.isFeatureTreeActive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end Feature Tree -->

    <div ng-if="globals.homescreen" class="popover homescreen"
         ng-class="{
           'visible': globals.homescreen, 
           'bottom': globals.tablet,
           'top': !globals.tablet,
           'tr': (globals.ios >= 8)
         }">
      <div class="arrow"></div>
      <div class="popover-title">
        <span translate>homescreen_title</span>
        <button type="button" class="ga-icon ga-btn icon-remove" ng-click="globals.homescreen=false"></button>
      </div>
      <div class="popover-content">
        <i class=icon-share></i>&nbsp;
        <span translate>homescreen_content</span>
      </div>
    </div>

    <!-- in source, we need to load it here because IE9 ignores it in
         the comments for reasons unknown to me. In prod, it's only
         loaded in IE9 -->
    <script src="lib/IE9Fixes.js"></script>
    <script>
      //This call only affects browser <= IE9
      IE9Fix.call(this);
    </script>
    <script src="lib/jquery-2.0.3.js"></script>
    <script src="lib/jQuery.XDomainRequest.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-translate.js"></script>
    <script src="lib/angular-translate-loader-static-files.js"></script>
    <script src="lib/d3-3.3.1.js"></script>
    <script src="lib/bootstrap-3.3.1.js"></script>
    <script src="lib/typeahead-0.9.3.js"></script>
    <script src="lib/proj4js-compressed.js"></script>
    <script src="lib/EPSG21781.js"></script>
    <script src="lib/EPSG2056.js"></script>
    <script src="lib/EPSG32631.js"></script>
    <script src="lib/EPSG32632.js"></script>
    <script src="lib/fastclick.js"></script>
    <script src="lib/localforage.js"></script>
    <script src="lib/filesaver.js"></script>
    <script src="lib/moment-with-customlocales.js"></script>
    <script src="lib/Cesium/Cesium.js"></script>
   

    <!-- Use Closure to load the application scripts -->
    <script>
      window.CLOSURE_NO_DEPS = true;
    </script>

    <!-- ol-debug.js includes Closure's base.js code, so we don't
         need to load base.js ourselves. We keep Closure's base.js file
         around in case we need to test with ol.js or ol-simple.js. -->
    <!--<script src="lib/closure/base.js"></script>-->
    <!-- ol3 and ol3-cesium are built together in debug mode --> 
    <script src="lib/ol3cesium-debug.js"></script>
    <!-- INGRID: Change deps -->
    <script src="deps.ingrid.js"></script>
    <script>
      goog.require('geoadmin');
    </script>

    <script>
      window.addEventListener('load', function() {
        FastClick.attach(document.body);
      }, false);
    </script>

    <script>
      (function() {
        // Make sure ajax is using cached requests
        $.ajaxSetup({
          cache: true
        });

        var module = angular.module('geoadmin');
        var cacheAdd = '' != '' ? '/' + '' : '';
        <!-- INGRID: Change html pages -->
        var pathname = location.pathname.replace(/(index|mobile|embed)\.ingrid.dev.html$/g, '');

        module.constant('gaGlobalOptions', {
          //dev3d to be removed once 3d goes live
          // INGRID: Disabled dev3d
          dev3d: false,
          buildMode: '',
          pegman: !!window.location.search.match(/(pegman=true)/),
          mapUrl : location.origin + '/wemove',
          apiUrl : location.protocol + '//mf-chsdi3.dev.bgdi.ch',
          publicUrl : location.protocol + '//public.dev.bgdi.ch',
          publicUrlRegexp: new RegExp('^https?:\/\/public\..*\.(bgdi|admin)\.ch\/.*'),
          adminUrlRegexp: new RegExp('^(ftp|http|https):\/\/(.*(\.bgdi|\.geo\.admin)\.ch)'),
          cachedApiUrl: location.protocol + '//mf-chsdi3.dev.bgdi.ch' + cacheAdd,
          resourceUrl: location.origin + pathname + '',
          // INGRID: Change REST service URL
          ogcproxyUrl : location.protocol + '//' + location.host + '/ingrid-webmap-client' + '/rest/wms/proxy/?url=',
          whitelist: [
            'https://' + window.location.host + '/**'
          ],
          // INGRID: Change default topic
          defaultTopicId: 'themen',
          translationFallbackCode: 'de',
          // INGRID: Change default extent
          defaultExtent: JSON.parse('[0.42587260523, 46.9672880527, 15.7908768234, 55.1764096793]'),
          defaultResolution: 500.0,
          defaultLod: 7 ,
          resolutions: JSON.parse('[650.0, 500.0, 250.0, 100.0, 50.0, 20.0, 10.0, 5.0, 2.5, 2.0, 1.0, 0.5, 0.25, 0.1]'),
          lods: JSON.parse('[6, 7, 8, 9, 10, 11, 12, 13, 14, 14, 16, 17, 18, 18]' ),
          // INGRID: Change default epsg
          defaultEpsg: 'EPSG:3857',
          // INGRID: Change default epsg extent
          defaultEpsgExtent: JSON.parse('[0.42587260523, 46.9672880527, 15.7908768234, 55.1764096793]'),
          defaultElevationModel: 'COMB',
          defaultTerrain: 'ch.swisstopo.terrain.3d',
          languages: JSON.parse('["de", "en", "fr", "it", "rm"]')
        });

        module.config(function($translateProvider, gaGlobalOptions) {
          $translateProvider.useStaticFilesLoader({
            // INGRID: Change locales path
            prefix: 'ingrid/locales/',
            suffix: '.json'
          });
          $translateProvider.cloakClassName('ng-cloak');
          // TODO: Use $sanitize instead in the future
          // see http://angular-translate.github.io/docs/#/guide/19_security
          $translateProvider.useSanitizeValueStrategy(null);

        });

        module.config(function(gaLayersProvider, gaGlobalOptions) {
          gaLayersProvider.dfltWmsSubdomains = ['', '0', '1', '2', '3', '4'];
          gaLayersProvider.dfltWmtsNativeSubdomains = ['5', '6', '7', '8', '9'];
          gaLayersProvider.dfltWmtsMapProxySubdomains = ['20', '21', '22', '23', '24'];
          gaLayersProvider.wmsUrlTemplate = '//wms{s}.geo.admin.ch/';
          gaLayersProvider.wmtsGetTileUrlTemplate = '//wmts{s}.geo.admin.ch/1.0.0/{Layer}/default/{Time}/{TileMatrixSet}/{z}/{y}/{x}.{Format}';
          gaLayersProvider.wmtsMapProxyGetTileUrlTemplate = '//wmts{s}.geo.admin.ch/1.0.0/{Layer}/default/{Time}/{TileMatrixSet}/{z}/{x}/{y}.{Format}';
          gaLayersProvider.terrainTileUrlTemplate = '//3d.geo.admin.ch/1.0.0/{Layer}/default/{Time}/4326';
          // INGRID: Change layer service URL
          gaLayersProvider.layersConfigUrlTemplate = './ingrid/data/layers.json';
          // INGRID: Change legend service URL
          gaLayersProvider.legendUrlTemplate = gaGlobalOptions.apiUrl + '/rest/services/{Topic}/MapServer/{Layer}/legend?lang={Lang}';
        });
        module.config(function(gaTopicProvider, gaGlobalOptions) {
          // INGRID: Change topic service URL
          gaTopicProvider.topicsUrl = './ingrid/data/topics.json';
        });

        module.config(function(gaExportKmlProvider, gaGlobalOptions) {
          gaExportKmlProvider.downloadKmlUrl =
              gaGlobalOptions.apiUrl + '/downloadkml';
        });

        module.config(function(gaFileStorageProvider, gaGlobalOptions) {
          gaFileStorageProvider.fileStorageUrl = gaGlobalOptions.apiUrl + '/files';
          gaFileStorageProvider.publicUrl = gaGlobalOptions.publicUrl;
        });

        module.config(function(gaPreviewFeaturesProvider, gaGlobalOptions) {
          gaPreviewFeaturesProvider.url =
              gaGlobalOptions.cachedApiUrl + '/rest/services/all/MapServer/';
        });

        module.config(function(gaProfileProvider, gaGlobalOptions) {
          gaProfileProvider.d3libUrl =
              gaGlobalOptions.resourceUrl + 'lib/d3-3.3.1.min.js';
          gaProfileProvider.profileUrl =
              gaGlobalOptions.apiUrl + '/rest/services/profile.json';
        });
        
        module.config(function(gaQueryProvider, gaGlobalOptions) {
          gaQueryProvider.dpUrl = gaGlobalOptions.resourceUrl +
              'lib/bootstrap-datetimepicker.min.js';
        });

        module.config(function($sceDelegateProvider, gaGlobalOptions) {
          var whitelist = $sceDelegateProvider.resourceUrlWhitelist();
          whitelist = whitelist.concat(gaGlobalOptions.whitelist);
          $sceDelegateProvider.resourceUrlWhitelist(whitelist);
        });

        $('.ga-custom-tooltip').tooltip();

      })();

      (function(){
        $(window).bind("orientationchange", function(){
          $('#header').hide();
          setTimeout(function(){
            $('#header').show(); 
            // iOS 7 minimal-ui meta tag bug
            window.scrollTo(0, 0);
          }, 0);
        });
      })();
    </script>
  </body>
</html>

