<!-- INGRID: Add 'ng-attr-aria-pressed="{{ options.layerSelected === layer }}" role="button" tabindex="0" ng-keypress="toggleLayerSelected($event, layer)"' -->
<div class="ga-header-group"
     ng-class="{'ga-odd': $odd, 'ga-invalid': layer.isInvalid, 'ga-selected': (options.layerSelected === layer)}"
     ng-mouseenter="addPreviewLayer($event, layer)"
     ng-mouseleave="removePreviewLayer($event)"
     ng-attr-aria-pressed="{{ options.layerSelected === layer }}"
     role="button"
     tabindex="0"
     ng-keypress="toggleLayerSelected($event, layer)"
     ng-click="toggleLayerSelected($event, layer)" >
<!-- INGRID: Add 'ng-attr-aria-label="{{ 'fa_icon_layer_zoom' | translate }}"' -->
  <button class="fa fa-zoom-in ga-btn" ng-disabled="!(layer.extent)" ng-attr-aria-label="{{ 'fa_icon_layer_zoom' | translate }}"></button>
<!-- INGRID: Add ' ng-attr-aria-label="{{ 'fa_icon_layer_unexpanded' | translate }}" aria-pressed="false" aria-expanded="false"' -->
  <button class="fa fa-plus" ng-hide="!(layer.Layer)" ng-attr-aria-label="{{ 'fa_icon_layer_unexpanded' | translate }}" aria-pressed="false" aria-expanded="false"></button>
  {{layer.Title}}
</div>
<ul class="ga-child-group" ng-if="!!(layer.Layer)">
  <!-- INGRID: Remove 'orderby' -->
  <li ng-repeat="layer in layer.Layer">
    <div ga-wms-get-cap-item></div>
  </li>
</ul>
