
body {
	font-family:helvetica,tahoma,verdana,sans-serif;
	font-size:13px;
}

.title {
	font-size:20px !important;
	font-weight:bold !important;
	color:#4C7FCC;
	padding:10px !important;
}

.iconRemove {
	background-image: url(../../shared/images/icon_delete.png);
	cursor: pointer;
	width: 16px; 
	height: 16px;
}

.iconInfo {
	background-image: url(../../shared/images/icon_info.png);
	cursor: pointer;
	width: 16px; 
	height: 16px;
}


/*
    Ext.ux.Notification
*/
.x-icon-error{background-image:url(../../shared/images/exclamation.gif) ! important;}
.x-icon-information{background-image:url(../../shared/images/information.gif) ! important;}
.x-notification .x-window-body{margin: 0;padding:1em ! important; width: auto ! important;}
.x-notification .x-tool-close{display: none}
.x-notification.fixed .x-tool-close{display: block}
.x-notification p{margin: 0;padding:0;}


/*
  GridFilters Styles
*/
/*
.x-grid3-hd-row .ux-filtered-column {
	border-left:  1px solid #C7E3B4;
	border-right: 1px solid #C7E3B4;
}

.x-grid3-hd-row .ux-filtered-column .x-grid3-hd-inner {
	background-image: url(../images/header_bg.gif);
}

.ux-filtered-column .x-grid3-hd-btn {
	background-image: url(../images/hd-btn.gif);
}
*/
.x-grid3-hd-row td.ux-filtered-column {   
    font-style: italic;  
    font-weight: bold;
}		

.ux-filtered-column.sort-asc .x-grid3-sort-icon {
	background-image: url(../images/sort_filtered_asc.gif) !important;
}

.ux-filtered-column.sort-desc .x-grid3-sort-icon {
	background-image: url(../images/sort_filtered_desc.gif) !important;
}

.ux-gridfilter-text-icon {
	background-image: url(../images/find.png) !important;
}

/* Temporary Patch for Bug ??? */
.x-menu-list-item-indent .x-menu-item-icon {
	position: relative;
    top: 3px;
    left: 3px;
	margin-right: 10px;
}
li.x-menu-list-item-indent {
	padding-left:0px;
}
li.x-menu-list-item div {
	display: block;
}

/*
 RangeMenu Styles
*/
.ux-rangemenu-gt {
	background-image: url(../images/greater_than.png) !important;
}

.ux-rangemenu-lt {
	background-image: url(../images/less_than.png) !important;
}

.ux-rangemenu-eq {
	background-image: url(../images/equals.png) !important;
}