<div class="ga-catalogitem-template" ng-switch="!!item.children">

  <!-- INGRID: Check layer extent intersects map extent -->
  <div ng-switch-when="false" class="ga-catalogitem-leaf ga-catalogitem-entry"
       ng-class="{'ga-catalogitem-selected': item.selectedOpen, 'extent-outside': !isInRange(item.layerBodId)}">
    <label title="{{item.label}}" class="ga-truncate-text ga-checkbox">
      <input type="checkbox" ng-model="item.active" ng-model-options="{getterSetter: true}"/>
      <span></span>
      {{item.label}}
    </label>
    <div class="ga-layer-ordering">
<!-- INGRID: Add zoom to extent -->
<!-- INGRID: Add aria-label -->
      <button ng-if="hasExtent(item.layerBodId)" class="ga-icon ga-btn fa fa-zoom-in" ng-click="zoomToExtent($event, item.layerBodId)" aria-label="{{ 'fa_icon_layer_zoom' | translate }}"></button>
<!-- INGRID: Add aria-label -->
      <button class="ga-icon ga-btn fa fa-info-sign" ng-click="getLegend($event, item.layerBodId)" aria-label="{{ 'fa_icon_layer_info' | translate }}"></button>
    </div>
  </div>

  <div ng-switch-default="" class="ga-catalogitem-node">
    <!-- INGRID: Check if item is not a parent layer -->
    <a ng-if="!isParentLayer(item)" href="#" ng-click="toggle($event)" class="ga-catalogitem-entry ga-truncate-text" title="{{item.label}}">
      <i ng-class="{'fa fa-minus': item.selectedOpen, 'fa fa-plus': !item.selectedOpen}"></i>
      {{item.label}}
    </a>
    <!-- INGRID: Check if item is a parent layer and check layer extent intersects map extent -->
    <!-- INGRID: Add 'tabindex="-1"' -->
    <a ng-if="isParentLayer(item)" href="#" class="ga-catalogitem-entry ga-catalogitem-leaf ga-truncate-text" title="{{item.label}}" ng-class="{'extent-outside': !isInRange(item.layerBodId)}" tabindex="-1">
      <label title="{{item.label}}" class="ga-truncate-text ga-checkbox">
        <!-- INGRID: Add 'ng-keypress="toggle($event)" tabindex="0"' -->
        <i ng-click="toggle($event)" ng-class="{'fa fa-minus': item.selectedOpen, 'fa fa-plus': !item.selectedOpen}" ng-keypress="toggle($event)" tabindex="0"></i>
        <input type="checkbox" ng-model="item.active" ng-model-options="{getterSetter: true}">
        <span></span>
        {{item.label}}
      </label>
      <div class="ga-layer-ordering">
<!-- INGRID: Add aria-label -->
        <button ng-if="hasExtent(item.layerBodId)" class="ga-icon ga-btn fa fa-zoom-in" ng-click="zoomToExtent($event, item.layerBodId)" aria-label="{{ 'fa_icon_layer_zoom' | translate }}"></button>
<!-- INGRID: Add aria-label -->
        <button class="ga-icon ga-btn fa fa-info-sign" ng-click="getLegend($event, item.layerBodId)" aria-label="{{ 'fa_icon_layer_info' | translate }}"></button>
      </div>
    </a>
    <ul ng-if="item.selectedOpen">
      <li ng-repeat="child in item.children">
        <div ga-catalogitem ga-catalogitem-item="child" ga-catalogitem-map="map" ga-catalogitem-options="options"></div>
      </li>
    </ul>
  </div>

</div>
