<div id="category-tree-{{category.id}}">
  <div class="row">
    <!-- Tree -->
    <div class="col-sm">
        <a data-toggle="collapse" class="btn btn-primary btn-sm" href="#addCategoryItemModal-{{category.id}}">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <div id="{{category.id}}">
          <div class="collapse multi-collapse" id="addCategoryItemModal-{{category.id}}" [attr.data-parent]="'#category-tree-' + category.id">
            <div class="card card-body">
              <h5 class="modal-title" translate>category_item_add_title</h5>
              <app-form-category-add [tree]="tree" [layers]="layers" [node]="" [category]="category"></app-form-category-add>
            </div>
          </div>
        </div>
        <tree-root #tree [nodes]="categoryTree" [options]="options" 
        (activate)="onNodeActivate($event)" (deactivate)="onNodeDeactivate($event)" (moveNode)="onNodeMove($event)"
        (focus)="onNodeFocus($event)">
        <ng-template #treeNodeWrapperTemplate let-node let-index="index">
            <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
              <tree-node-expander [node]="node"></tree-node-expander>
              <div class="node-content-wrapper"
                [class.node-content-wrapper-active]="node.isActive"
                [class.node-content-wrapper-focused]="node.isFocused"
                (click)="node.mouseAction('click', $event)"
                (dblclick)="node.mouseAction('dblClick', $event)"
                (contextmenu)="node.mouseAction('contextMenu', $event)"
                (treeDrop)="node.onDrop($event)"
                [treeAllowDrop]="node.allowDrop"
                [treeDrag]="node"
                [treeDragEnabled]="node.allowDrag()">
                <i class="fa" [ngClass]="node.data.layerBodId ? 'fa-map' : 'fa-folder'" aria-hidden="true"></i>
                <span>{{ node.data.label }}</span>
                <a *ngIf="node.isFocused" data-toggle="collapse" class="btn btn-primary btn-sm" href="#addCategoryItemModal-{{category.id}}-{{node.data.id}}">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <a *ngIf="node.isFocused" data-toggle="collapse" class="btn btn-primary btn-sm" href="#editCategoryItemModal-{{category.id}}-{{node.data.id}}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                </a>
                <button *ngIf="node.isFocused" type="button" class="btn btn-danger btn-sm" data-toggle="modal" [attr.data-target]="'#delCategoryItemModal' + category.id">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div id="{{category.id}}-{{node.data.id}}">
              <div class="collapse multi-collapse" id="addCategoryItemModal-{{category.id}}-{{node.data.id}}" [attr.data-parent]="'#category-tree-' + category.id">
                <div class="card card-body">
                  <h5 class="modal-title" translate>category_item_add_title</h5>
                  <app-form-category-add [tree]="tree" [layers]="layers" [node]="node" [category]="category"></app-form-category-add>
                </div>
              </div>
              <div class="collapse multi-collapse" id="editCategoryItemModal-{{category.id}}-{{node.data.id}}" [attr.data-parent]="'#category-tree-' + category.id">
                <div class="card card-body">
                  <h5 class="modal-title" translate>category_item_edit_title</h5>
                  <app-form-category-edit [tree]="tree" [layers]="layers" [node]="node" [category]="category"></app-form-category-edit>
                </div>
              </div>
            </div>
          </ng-template>
      </tree-root>
    </div>
  </div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="delCategoryItemModal{{ category.id }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>category_item_del_title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p translate>category_item_del_text</p>
        <div class="modal-footer">
          <button type="submit" data-dismiss="modal" class="btn btn-danger" (click)="onRemoveCategoryItem(tree.treeModel.focusedNode)" translate>
            <i class="fa fa-trash" aria-hidden="true"></i>
            delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>