<div class="card-header d-flex justify-content-between align-items-center" id="layerHeader{{ layer.id }}" data-toggle="collapse" 
  [attr.data-target]="'#collapse' + layer.id" aria-expanded="false" aria-controls="layers" (click)="loadLayersForService($event, layer)">
  <span>
    <input type="checkbox" (click)="checkLayer($event)" value="{{ layer.id }}">
    {{layer.item.label}}
    <span *ngIf="layer.item.background" class="badge badge-pill" [ngClass]="{'badge-info' : layer.item.background}" translate>layer_background</span>
    <br>
    <small>{{layer.item.wmsUrl || layer.item.serviceUrl}}</small>
  </span>
  <div>
    <span *ngIf="layer.item.status" class="badge badge-pill badge-warning mr-sm-2" title="{{ layer.item.status | translate }}"><i class="fa fa-info"></i></span>
    <span class="badge badge-pill" [ngClass]="{'badge-primary' : layer.item.type === 'wms', 'badge-danger' : layer.item.type === 'wmts'}">{{ layer.item.type | uppercase }}</span>
  </div>
</div>
<div class="collapse" id="collapse{{ layer.id }}" [attr.aria-labelledby]="'layerHeader' + layer.id" data-parent="#layers">
  <div *ngIf="isWMSLayer(layer.item)">
    <app-layer-item-wms [layer]="layer" [layerId]="layer.id" [altLayers]="altLayers" (updateLayer)="updateLayer($event)" 
    [modalSaveSuccess]="modalSaveSuccess" [modalSaveUnsuccess]="modalSaveUnsuccess"></app-layer-item-wms>
  </div>
  <div *ngIf="isWMTSLayer(layer.item)">
    <app-layer-item-wmts [layer]="layer" [layerId]="layer.id" [altLayers]="altLayers" (updateLayer)="updateLayer($event)"
    [modalSaveSuccess]="modalSaveSuccess" [modalSaveUnsuccess]="modalSaveUnsuccess"></app-layer-item-wmts>
  </div>
</div>
<!-- Modal delete -->
<div class="modal fade" id="delLayerModal{{ layer.id }}" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" translate>layer_item_del_title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p translate>layer_item_del_text</p>
        <div class="modal-footer">
          <button type="submit" data-dismiss="modal" class="btn btn-danger" (click)="onDeleteLayer(layer.id)" translate>
            <i class="fa fa-trash" aria-hidden="true"></i>
            delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal auth -->
<app-modal #modalAuth>
  <div class="app-modal-header">
    <h5 class="modal-title" translate>layer_edit_auth_account</h5>
  </div>
  <div class="app-modal-body">
    <p translate>layer_edit_auth_account_text</p>
    <form #formAuth="ngForm" (ngSubmit)="editAuth(formAuth, modalAuth)" novalidate>
      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label" translate>service_login</label>
        </div>
        <div class="col-sm-9">
          <input type="text" #auth="ngModel" [(ngModel)]="layer.item.auth" name="auth" class="form-control login" placeholder="{{ ('service_login') | translate }} ..." readonly onfocus="this.removeAttribute('readonly');" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <label class="col-form-label" translate>service_password</label>
        </div>
        <div class="col-sm-9">
          <input type="password" ngModel name="password" class="form-control login" placeholder="{{ ('service_password') | translate }} ..." readonly onfocus="this.removeAttribute('readonly');" required>
        </div>
      </div>
      <div class="alert alert-info" translate>
        layer_edit_auth_account_info
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-primary" [disabled]="formAuth.invalid" (click)="formAuth.ngSubmit.emit()" translate>
      save
    </button>
  </div>
</app-modal>