<div class="card-header d-flex justify-content-between align-items-center" id="layerHeader{{ layer.id }}" data-toggle="collapse" 
  [attr.data-target]="'#collapse' + layer.id" aria-expanded="false" aria-controls="layers" (click)="loadLayersForService($event, layer)">
  <span>
    <input type="checkbox" (click)="checkLayer($event)" value="{{ layer.id }}">
    {{layer.item.label}}
    <span *ngIf="layer.item.background" class="badge badge-pill" [ngClass]="{'badge-info' : layer.item.background}" translate>layer_background</span>
    <br>
    <small>{{layer.item.wmsUrl || layer.item.serviceUrl}}</small>
  </span>
  <div>
    <span *ngIf="layer.item.status" class="badge badge-pill badge-warning mr-sm-2" title="{{ layer.item.status | translate }}"><i class="fa fa-info"></i></span>
    <span class="badge badge-pill" [ngClass]="{'badge-primary' : layer.item.type === 'wms', 'badge-danger' : layer.item.type === 'wmts'}">
      <i *ngIf="layer.item.auth" aria-hidden="true" class="fa fa-lock"></i>
      {{ layer.item.type | uppercase }}
    </span>
  </div>
</div>
<div class="collapse" id="collapse{{ layer.id }}" [attr.aria-labelledby]="'layerHeader' + layer.id" data-parent="#layers">
  <div *ngIf="isWMSLayer(layer.item)">
    <app-layer-item-wms [layer]="layer" [layerId]="layer.id" [altLayers]="altLayers" 
    (updateLayer)="updateLayer($event)" (updateLayersAfterDelete)="updateLayersAfterDelete()"
    [modalSaveSuccess]="modalSaveSuccess" [modalSaveUnsuccess]="modalSaveUnsuccess"></app-layer-item-wms>
  </div>
  <div *ngIf="isWMTSLayer(layer.item)">
    <app-layer-item-wmts [layer]="layer" [layerId]="layer.id" [altLayers]="altLayers"
    (updateLayer)="updateLayer($event)" (updateLayersAfterDelete)="updateLayersAfterDelete()"
    [modalSaveSuccess]="modalSaveSuccess" [modalSaveUnsuccess]="modalSaveUnsuccess"></app-layer-item-wmts>
  </div>
</div>