<!-- INGRID: Add 'ng-keypress="activateBackgroundLayer(layer)" tabindex="0" role="button"' -->
<div ng-repeat="layer in backgroundLayers"
     ng-click="activateBackgroundLayer(layer)"
     ng-keypress="activateBackgroundLayer(layer)"
     tabindex="0"
     role="button"
     class="ga-bg-layer ga-bg-layer-{{$index}} {{getClass(layer)}}"
     translate-attr="{title: layer.label}">
  <div class="ga-bg-layer-text" translate>{{layer.label}}</div>
</div>
<!-- INGRID: Add 'ng-click="toggleMenu()" ng-keypress="toggleMenu()" tabindex="0" role="button"' -->
<div class="ga-bg-layer-bt" translate-attr="{title: 'bg_toggle'}" ng-click="toggleMenu()" ng-keypress="toggleMenu()" tabindex="0" role="button">
  <div class="ga-bg-layer-bt-text" translate>bg_chooser_label</div>
  <i class="fa fa-chevron-sign-right"></i>
</div> 
