<div id="category-tree-{{ categoryId }}">
  <div class="mr-auto">
    <!-- Tree -->
    <div class="my-2">
      <div>
        <button class="btn btn-primary btn-sm mr-sm-2" (click)="showAddModal(modalNodeAdd, null)" translate>
          <i class="fa fa-plus" aria-hidden="true"></i>
          category_button_item_add
        </button>
        <button class="btn btn-primary btn-sm mr-sm-2" [disabled]="!hasSelectedItem(this.tree.treeModel)" (click)="modalNodeSelectClearLayer.show()" translate>
          <i class="fa fa-chain-broken" aria-hidden="true"></i>
          category_button_layer_delete
        </button>
        <button class="btn btn-danger btn-sm mr-sm-2" [disabled]="!hasSelectedItem(this.tree.treeModel)" (click)="modalNodeSelectDelete.show()" translate>
          <i class="fa fa-trash" aria-hidden="true"></i>
          category_button__select_delete
        </button>
        <button class="btn btn-outline btn-sm" type="button" data-toggle="collapse" data-target="#category_item_info" title="{{ ('help') | translate }}" translate>
          <i class="fa fa-info" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="collapse" id="category_item_info">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" translate>category_item_help_title</h5>
        <p class="card-text" [innerHTML]="'category_item_help_text' | translate"></p>
      </div>
    </div>
  </div>
  <tree-root #tree [nodes]="categoryTree" [options]="options" 
    (activate)="onNodeActivate($event)" (deactivate)="onNodeDeactivate($event)" (moveNode)="onNodeMove($event)"
    (focus)="onNodeFocus($event)">
    <ng-template #treeNodeWrapperTemplate let-node let-index="index">
      <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
        <tree-node-expander [node]="node"></tree-node-expander>
        <div class="node-content-wrapper d-flex justify-content-between align-items-center"
          [class.node-content-wrapper-active]="node.isActive"
          [class.node-content-wrapper-focused]="node.isFocused"
          (click)="node.mouseAction('click', $event)"
          (dblclick)="node.mouseAction('dblClick', $event)"
          (contextmenu)="node.mouseAction('contextMenu', $event)"
          (treeDrop)="node.onDrop($event)"
          [treeAllowDrop]="node.allowDrop"
          [treeDrag]="node"
          [treeDragEnabled]="node.allowDrag()">
          <div>
            <input
            type="checkbox"
            class="mr-sm-2"
            [indeterminate]="node.data.indeterminate"
            [checked]="node.data.checked" (change)="check(node, !node.data.checked)">
            <i class="fa" [ngClass]="node.data.layerBodId ? 'fa-map' : 'fa-folder'" aria-hidden="true"></i>
            {{ node.data.label }}
          </div>
          <div>
            <button *ngIf="node.isFocused" class="btn btn-primary btn-sm mr-sm-2" (click)="showAddModal(modalNodeAdd, node)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button *ngIf="node.isFocused" class="btn btn-primary btn-sm mr-sm-2" (click)="showEditModal(modalNodeEdit, node)">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <button *ngIf="node.isFocused" class="btn btn-danger btn-sm mr-sm-2" (click)="showDeleteModal(modalNodeDelete, node)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button *ngIf="node.isFocused" class="btn btn-primary btn-sm mr-sm-2" appShowCategoryOnMap [node]="node">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </tree-root>
</div>

<!-- Modal delete -->
<app-modal #modalNodeDelete>
  <div class="app-modal-header">
    <h5 class="modal-title" translate>category_item_del_title</h5>
  </div>
  <div class="app-modal-body">
    <p translate>category_item_del_text</p>
  </div>
  <div class="app-modal-footer">
    <button type="submit" data-dismiss="modal" class="btn btn-danger" (click)="onRemoveCategoryItem(tree.treeModel.focusedNode, modalNodeDelete)" translate>
      <i class="fa fa-trash" aria-hidden="true"></i>
      delete
    </button>
  </div>
</app-modal>

<!-- Modal delete select -->
<app-modal #modalNodeSelectDelete>
  <div class="app-modal-header">
    <h5 class="modal-title" translate>category_item_select_del_title</h5>
  </div>
  <div class="app-modal-body">
    <p translate>category_item_select_del_text</p>
  </div>
  <div class="app-modal-footer">
    <button type="submit" data-dismiss="modal" class="btn btn-danger" (click)="onRemoveSelectItem(tree.treeModel, modalNodeSelectDelete, false)" translate>
      <i class="fa fa-trash" aria-hidden="true"></i>
      delete
    </button>
  </div>
</app-modal>

<!-- Modal delete select layer -->
<app-modal #modalNodeSelectClearLayer>
  <div class="app-modal-header">
    <h5 class="modal-title" translate>category_item_del_layer_title</h5>
  </div>
  <div class="app-modal-body">
    <p translate>category_item_del_layer_text</p>
  </div>
  <div class="app-modal-footer">
    <button type="submit" data-dismiss="modal" class="btn btn-danger" (click)="onRemoveSelectItem(tree.treeModel, modalNodeSelectClearLayer, true)" translate>
      <i class="fa fa-trash" aria-hidden="true"></i>
      delete
    </button>
  </div>
</app-modal>

<!-- Modal Add node-->
<app-modal #modalNodeAdd [cssClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title" translate>category_item_add_title</h5>
  </div>
  <div class="app-modal-body">
    <form #formNodeAdd="ngForm" (ngSubmit)="onAddCategoryItem(tree, modalNodeAdd)" novalidate>
      <div class="form-group row" [ngClass]="{
        'has-danger': labelAdd.invalid && (labelAdd.dirty || labelAdd.touched),
        'has-success': labelAdd.valid && (labelAdd.dirty || labelAdd.touched)}
        ">
        <label class="col-sm-4 col-form-label" for="labelAdd" translate>category_item_add_label</label>
        <div class="col-sm-8">
          <input type="text" #labelAdd="ngModel" [(ngModel)]="focusItem.label" class="form-control" name="labelAdd" placeholder="{{ ('category_item_add_label_input') | translate }}" required>
          <div class="form-control-feedback" 
              *ngIf="labelAdd.errors && (labelAdd.dirty || labelAdd.touched)">
            <div *ngIf="labelAdd.errors.required"><span translate>field_required</span></div>
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{
        'has-danger': layerBodIdAdd.invalid && (layerBodIdAdd.dirty || layerBodIdAdd.touched),
        'has-success': layerBodIdAdd.valid && (layerBodIdAdd.dirty || layerBodIdAdd.touched)}
        ">
        <label class="col-sm-4 col-form-label" for="layerBodIdAdd" translate>category_item_add_layerBodId</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input type="text" #layerBodIdAdd="ngModel" [(ngModel)]="focusItem.layerBodId" class="form-control" name="layerBodIdAdd" placeholder="{{ ('category_item_add_layerBodId_input') | translate }}"
              (click)="onLayerClick($event, focusItem.layerBodId)" (keyup)="onLayerListSearch($event, focusItem.layerBodId)" appExistOnLayerList [checkList]="searchLayerList" autocomplete="off">
            <div class="input-group-append" *ngIf="searchLayerList">
              <button class="btn btn-primary" (click)="clearLayerList()">
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="form-control-feedback" 
            *ngIf="layerBodIdAdd.errors && (layerBodIdAdd.dirty || layerBodIdAdd.touched)">
            <div *ngIf="layerBodIdAdd.errors.notExist"><span translate>field_layerBodId_not_exist</span></div>
          </div>
          <ul *ngIf="searchLayerList" class="list-group search-list">
            <li *ngFor="let layer of searchLayerList" class="list-group-item list-group-item-action" (click)="onSelectLayer($event, layer)">
              <p><b>{{ layer.item.label }}</b></p>
              <span>ID: </span><span>{{ layer.id }}</span>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-primary" [disabled]="formNodeAdd.invalid" (click)="formNodeAdd.ngSubmit.emit()" translate>
      <i class="fa fa-plus" aria-hidden="true"></i>
      add
    </button>
  </div>
</app-modal>

<!-- Modal Edit node-->
<app-modal #modalNodeEdit [cssClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title" translate>category_item_edit_title</h5>
  </div>
  <div class="app-modal-body">
    <form #formNodeEdit="ngForm" (ngSubmit)="onEditCategoryItem(tree, modalNodeEdit)" novalidate>
      <div class="form-group row" [ngClass]="{
        'has-danger': id.invalid && (id.dirty || id.touched),
        'has-success': id.valid && (id.dirty || id.touched)}
        ">
        <label class="col-sm-4 col-form-label" for="id" translate>category_item_edit_id</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" #id="ngModel" [(ngModel)]="focusItem.id" name="id" placeholder="{{ ('category_item_edit_id_input') | translate }}" required>
          <div class="form-control-feedback" 
              *ngIf="id.errors && (id.dirty || id.touched)">
            <div *ngIf="id.errors.required"><span translate>field_required</span></div>
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{
        'has-danger': label.invalid && (label.dirty || label.touched),
        'has-success': label.valid && (label.dirty || label.touched)}
        ">
        <label class="col-sm-4 col-form-label" for="label" translate>category_item_edit_label</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" #label="ngModel" [(ngModel)]="focusItem.label" name="label" placeholder="{{ ('category_item_edit_label_input') | translate }}" required>
          <div class="form-control-feedback" 
              *ngIf="label.errors && (label.dirty || label.touched)">
            <div *ngIf="label.errors.required"><span translate>field_required</span></div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label" for="selectedOpen" translate>category_item_edit_selectedOpen</label>
        <div class="col-sm-8">
          <select class="form-control" #selectedOpen="ngModel" [(ngModel)]="focusItem.selectedOpen" name="selectedOpen">
              <option [ngValue]="false" translate>false</option>
              <option [ngValue]="true" translate>true</option>
            </select>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{
        'has-danger': layerBodId.invalid && (layerBodId.dirty || layerBodId.touched),
        'has-success': layerBodId.valid && (layerBodId.dirty || layerBodId.touched)}
        ">
        <label class="col-sm-4 col-form-label" for="layerBodId" translate>category_item_edit_layerBodId</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input type="text" #layerBodId="ngModel" [(ngModel)]="focusItem.layerBodId" class="form-control" name="layerBodId"placeholder="{{ ('category_item_edit_layerBodId_input') | translate }}" (click)="onLayerClick($event, layerBodId.value)" (keyup)="onLayerListSearch($event, layerBodId.value)" appExistOnLayerList [checkList]="searchLayerList" autocomplete="off">
            <div class="input-group-append" *ngIf="searchLayerList">
              <button class="btn btn-primary" (click)="clearLayerList()">
                  <i class="fa fa-caret-up" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="form-control-feedback" 
              *ngIf="layerBodId.errors && (layerBodId.dirty || layerBodId.touched)">
            <div *ngIf="layerBodId.errors.notExist"><span translate>field_layerBodId_not_exist</span></div>
          </div>
          <ul *ngIf="searchLayerList" class="list-group search-list">
            <li *ngFor="let layer of searchLayerList" class="list-group-item list-group-item-action" (click)="onSelectLayer($event, layer)">
              <p><b>{{ layer.item.label }}</b></p>
              <span>ID: </span><span>{{ layer.id }}</span>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <button class="btn btn-primary" [disabled]="formNodeEdit.invalid" (click)="formNodeEdit.ngSubmit.emit()" translate>
      <i class="fa fa-save" aria-hidden="true"></i>
      save
    </button>
  </div>
</app-modal>