<div ga-slider 
     floor="{{options.minYear}}" 
     ceiling="{{options.maxYear}}"
     ng-model="currentYear"
     ga-data="years"
     ga-redraw="isActive"
     ga-keyboard-events="isActive && !is3dActive"
     ga-magnetize="true"
     ga-input-text="true"
     ga-unfit-to-bar="true">
</div>
<select ng-model="currentYear"
        ng-options="year.value as year.value for year in availableYears">
  <option value="" disabled translate>time_select_year</option>
</select>
<!-- INGRID: Add 'ng-attr-aria-label="{{ 'fa_icon_time_play' | translate }}"' -->
<button class="btn btn-default fa fa-play" ng-hide="isPlaying" ng-click="play()" ng-attr-aria-label="{{ 'fa_icon_time_play' | translate }}"></button>
<!-- INGRID: Add 'ng-attr-aria-label="{{ 'fa_icon_time_stop' | translate }}"' -->
<button class="btn btn-danger fa fa-stop" ng-show="isPlaying" ng-click="stop()" ng-attr-aria-label="{{ 'fa_icon_time_stop' | translate }}"></button>
