/* color */
$color-black: #000;
$color-nobel: #999;
$color-dim-grey: #666;
$color-light-grey: #ccc;
$color-faded: #EEE;
$color-white: #fff;
$color-red: #ff0000;
$color-valid: #28a745;
$color-invalid: #dc3545