<div class="ga-search-results-container ng-hide" ng-hide="!results.length">
  <div class="ga-search-results-header" translate="{{type + '_results_header' + fuzzy}}"></div>
  <div class="ga-search-results">
    <ul>
        <li class="ga-search-result ga-layer-folded" tabindex="{{tabstart + i}}"
             ng-repeat="(i, res) in results"
             ng-keydown="keydown($event, res)"
             ng-focus="preview(res)"
             ng-blur="out()"
             ng-click="click(res)"
             ng-mouseenter="preview(res)"
             ng-mouseleave="out()">
           <div class="ga-bwa-infos">
             <label class="ga-checkbox" ng-bind-html="prepareLabel(res.attrs)"></label>
             <button class="ga-icon fa fa-gear" ng-click="getExtentSettings($event, res.attrs)"></button>
           </div><!--ga-layer-infos-->
           <div class="ga-layer-tools">
              <label>
                <div translate>bwalocator_from</div>&nbsp;
                <input id="{{bwalocator_from_id}}" type="text" placeholder="{{bwalocator_from_placeholder}}" value=""/>
              </label>
              <label>
                <div translate>bwalocator_to</div>&nbsp;
                <input id="{{bwalocator_to_id}}" type="text" placeholder="{{bwalocator_to_placeholder}}" value=""/>
              </label>
              <label>
                <div translate>bwalocator_distance</div>&nbsp;
                <input id="{{bwalocator_distance_id}}" type="text" placeholder="{{bwalocator_distance_placeholder}}" value=""/>
              </label>
           </div><!--ga-layer-tools-->
         </li>
    </ul>
  </div>
</div>
