<div class="popover bottom">
  <div class="arrow"></div>
  <div class="popover-title">
    <span translate>position</span>
    <button type="button" class="ga-icon ga-btn fa fa-remove"
            translate-attr="{title: 'close'}"
            ng-click="hidePopover()"></button>
  </div>
  <div class="popover-content">
      <table ng-if="!showBWaLocator() && !showEbaLocator()">
          <tbody>
          <tr ng-repeat="projection in projections" class="{{projection.key}}">
              <!-- INGRID: Change td to ng-bind-html -->
              <td ng-bind-html="projection.label"></td>
              <td ng-bind-html="projection.coordinates"></td>
          </tr>
          <tr class="what3words" ng-if="enableW3W">
              <td><a href="http://what3words.com/" target="_blank">what3words</a></td>
              <td>{{w3w}}</td>
          </tr>
          <!--
          <tr ng-if="altitude">
              <td translate>elevation</td>
              <td>{{altitude | measure:'distance':[' m']:1}}</td>
          </tr>
          -->
          <tr class="crosshair">
              <td><a href="{{crosshairPermalink}}" target="_blank" translate>link_bowl_crosshair</a></td>
              <td></td>
          </tr>
          <tr class="qrcode" ng-if="qrcodeUrl">
            <td align="center" colspan="2">
              <img draggable="false" ng-src="{{qrcodeUrl}}" class="ga-qrcode">
            </td>
          </tr>
          </tbody>
      </table>
    <!-- INGRID: New layout for context popup -->
    <div ng-if="showBWaLocator() || showEbaLocator()"  class="tabbable">
      <!-- INGRID: Add 'role="tablist"' -->
      <ul class="nav nav-tabs" role="tablist">
        <li ng-class="getTabClass(1)">
        <!-- INGRID: Add ' ng-keypress="activeTab(1)" tabindex="0" role="tab" ng-attr-aria-selected="{{ 1 === currentTab }}"' -->
          <a ng-click="activeTab(1)" ng-keypress="activeTab(1)" tabindex="0" role="tab" ng-attr-aria-selected="{{ 1 === currentTab }}" translate>context_title_coords</a>
        </li>
        <li ng-class="getTabClass(2)" ng-if="showBWaLocator()">
        <!-- INGRID: Add 'ng-keypress="activeTab(2)" tabindex="0" role="tab" ng-attr-aria-selected="{{ 2 === currentTab }}"' -->
          <a ng-click="activeTab(2)" ng-keypress="activeTab(2)" tabindex="0" role="tab" ng-attr-aria-selected="{{ 2 === currentTab }}" translate>context_title_bwalocator</a>
        </li>
        <li ng-class="getTabClass(3)" ng-if="showEbaLocator()">
        <!-- INGRID: Add 'ng-keypress="activeTab(3)" tabindex="0" role="tab" ng-attr-aria-selected="{{ 3 === currentTab }}"' -->
          <a ng-click="activeTab(3)" ng-keypress="activeTab(3)" tabindex="0" role="tab" ng-attr-aria-selected="{{ 3 === currentTab }}" translate>context_title_ebalocator</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" ng-class="getTabClass(1)">
          <table>
            <tbody>
              <tr ng-repeat="projection in projections" class="{{projection.key}}">
                <!-- INGRID: Change td to ng-bind-html -->
                <td ng-bind-html="projection.label"></td>
                <td ng-bind-html="projection.coordinates"></td>
              </tr>
              <tr class="what3words" ng-if="enableW3W">
                <td><a href="http://what3words.com/" target="_blank">what3words</a></td>
                <td>{{w3w}}</td>
              </tr>
              <tr class="crosshair">
                <td><a href="{{crosshairPermalink}}" target="_blank" translate>link_bowl_crosshair</a></td>
                <td></td>
              </tr>
              <tr class="qrcode" ng-if="qrcodeUrl">
                <td align="center" colspan="2">
                  <img draggable="false" ng-src="{{qrcodeUrl}}" class="ga-qrcode">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="showBWaLocator()" class="tab-pane" ng-class="getTabClass(2)">
          <table>
            <tbody>
              <tr ng-if="bwastr_id">
                <td translate>bwalocator_context_id</td>
                <td>{{bwastr_id}}</td>
              </tr>
              <tr ng-if="bwastr_name">
                <td translate>bwalocator_context_name</td>
                <td>{{bwastr_name}}</td>
              </tr>
              <tr ng-if="bwastr_typ">
                <td translate>bwalocator_context_typ</td>
                <td>{{bwastr_typ}}</td>
              </tr>
              <tr ng-if="!bwastr_error && bwastr_label">
                <td><span ng-bind-html="bwastr_label"></span>:</td>
                <td>{{bwastr_coords}}</td>
              </tr>
              <tr ng-if="bwastr_km">
                <td translate>bwalocator_context_km</td>
                <td>{{bwastr_km}} km</td>
              </tr>
              <tr ng-if="bwastr_distance">
                <td translate>bwalocator_context_distance</td>
                <td>{{bwastr_distance}} m</td>
              </tr>
              <tr ng-if="bwastr_error" colspan="2">
                <td>{{bwastr_error}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="showEbaLocator()" class="tab-pane" ng-class="getTabClass(3)">
          <table>
            <tbody>
              <tr ng-if="ebastr_id">
                <td translate>ebalocator_context_id</td>
                <td>{{ebastr_id}}</td>
              </tr>
              <tr ng-if="ebastr_name">
                <td translate>ebalocator_context_name</td>
                <td ng-bind-html="ebastr_name"></td>
              </tr>
              <tr ng-if="ebastr_typ">
                <td translate>ebalocator_context_typ</td>
                <td>{{ebastr_typ}}</td>
              </tr>
              <tr ng-if="ebastr_crs">
                <td translate>ebalocator_context_crs</td>
                <td>{{ebastr_crs}}</td>
              </tr>
              <tr ng-if="ebastr_lon">
                <td translate>ebalocator_context_lon</td>
                <td>{{ebastr_lon}}</td>
              </tr>
              <tr ng-if="ebastr_lat">
                <td translate>ebalocator_context__lat</td>
                <td>{{ebastr_lat}}</td>
              </tr>
              <tr ng-if="ebastr_km">
                <td translate>ebalocator_context_km</td>
                <td>{{ebastr_km}} km</td>
              </tr>
              <tr ng-if="ebastr_km_ing">
                <td translate>ebalocator_context_km_ing</td>
                <td>{{ebastr_km_ing}} km</td>
              </tr>
              <tr ng-if="ebastr_error" colspan="2">
                <td translate>ebalocator_context_error</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
