<div class="popover bottom">
  <div class="arrow"></div>
  <div class="popover-title">
    <span translate>position</span>
    <button type="button" class="ga-icon ga-btn fa fa-remove"
            translate-attr="{title: 'close'}"
            ng-click="hidePopover()"></button>
  </div>
  <div class="popover-content">
      <table ng-if="showBWaLocator() == false" >
          <tbody>
          <tr ng-repeat="projection in projections" class="{{projection.key}}">
              <!-- INGRID: Change td to ng-bind-html -->
              <td ng-bind-html="projection.label"></td>
              <td ng-bind-html="projection.coordinates"></td>
          </tr>
          <tr class="what3words" ng-if="enableW3W">
              <td><a href="http://what3words.com/" target="_blank">what3words</a></td>
              <td>{{w3w}}</td>
          </tr>
          <!--
          <tr ng-if="altitude">
              <td translate>elevation</td>
              <td>{{altitude | measure:'distance':[' m']:1}}</td>
          </tr>
          -->
          <tr class="crosshair">
              <td><a href="{{crosshairPermalink}}" target="_blank" translate>link_bowl_crosshair</a></td>
              <td></td>
          </tr>
          <tr class="qrcode" ng-if="qrcodeUrl">
            <td align="center" colspan="2">
              <img draggable="false" ng-src="{{qrcodeUrl}}" class="ga-qrcode">
            </td>
          </tr>
          </tbody>
      </table>
    <!-- INGRID: New layout for context popup -->
    <div ng-if="showBWaLocator()"  class="tabbable">
      <ul class="nav nav-tabs">
        <li ng-class="getTabClass(1)">
          <a ng-click="activeTab(1)" translate>context_title_coords</a>
        </li>
        <li ng-class="getTabClass(2)">
          <a ng-click="activeTab(2)" translate>context_title_bwalocator</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" ng-class="getTabClass(1)">
          <table>
            <tbody>
              <tr ng-repeat="projection in projections" class="{{projection.key}}">
                <!-- INGRID: Change td to ng-bind-html -->
                <td ng-bind-html="projection.label"></td>
                <td ng-bind-html="projection.coordinates"></td>
              </tr>
              <tr class="what3words" ng-if="enableW3W">
                <td><a href="http://what3words.com/" target="_blank">what3words</a></td>
                <td>{{w3w}}</td>
              </tr>
              <tr class="crosshair">
                <td><a href="{{crosshairPermalink}}" target="_blank" translate>link_bowl_crosshair</a></td>
                <td></td>
              </tr>
              <tr class="qrcode" ng-if="qrcodeUrl">
                <td align="center" colspan="2">
                  <img draggable="false" ng-src="{{qrcodeUrl}}" class="ga-qrcode">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="options.bwaLocatorUrl != undefined" class="tab-pane" ng-class="getTabClass(2)">
          <table>
            <tbody>
              <tr ng-if="bwastr_id != undefined">
                <td>BWaStr-IdNr:</td>
                <td>{{bwastr_id}}</td>
              </tr>
              <tr ng-if="bwastr_name != undefined">
                <td>BWaStr-Bezeichnung:</td>
                <td>{{bwastr_name}}</td>
              </tr>
              <tr ng-if="bwastr_typ != undefined">
                <td>Streckenbezeichnung:</td>
                <td>{{bwastr_typ}}</td>
              </tr>
              <tr ng-if="bwastr_error == undefined && bwastr_label != undefined">
                <td><span ng-bind-html="bwastr_label"></span>:</td>
                <td>{{bwastr_coords}}</td>
              </tr>
              <tr ng-if="bwastr_km != undefined">
                <td>Station:</td>
                <td>{{bwastr_km}} km</td>
              </tr>
              <tr ng-if="bwastr_distance != undefined">
                <td>Abstand:</td>
                <td>{{bwastr_distance}} m</td>
              </tr>
              <tr ng-if="bwastr_error != undefined" colspan="2">
                <td>{{bwastr_error}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
